<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>댓글 수정</title>
    <script src="/js/util.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #FFFAFA;
            padding: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-container {
            text-align: center;
            margin-top: 30px;
        }
        .btn {
            font-size: 1.2rem;
            padding: 10px 30px;
            border-radius: 25px;
        }
    </style>
    <script src="/js/sse.js" defer></script>
    <link rel="stylesheet" href="/css/alarm.css">
</head>
<body>
<div style="position: relative; display: inline-block;">
    <span id="notificationCounter" class="notification-counter" style="display: none;">0</span>
    <button id="notificationButton" onclick="openModal()" style="border: none; background: none;">
        <img src="/img/Alarm.png" alt="알람 버튼">
    </button>
</div>
<script>
    let notificationCount = 0;
            function openModal() {
                document.getElementById("notificationModal").style.display = "block";
                document.getElementById("notificationCounter").style.display = "none";
                notificationCount = 0;
                document.getElementById("notificationCounter").innerText = notificationCount;
            }

            function closeModal() {
                document.getElementById("notificationModal").style.display = "none";
            }

    document.addEventListener("DOMContentLoaded", function() {
                initializeSSE();
            });
</script>

<div id="notificationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>알림</h2>
        <div id="notifications"></div>
    </div>
</div>
<div class="container">
    <input type="hidden" id="commentId" th:value="${comment.id}">
    <h1 class="mb-4 font-weight-bold">댓글 수정</h1>
    <div class="form-group">
        <label for="content" class="form-label">내용</label>
        <textarea id="content" class="form-control" rows="8" placeholder="내용을 입력하세요" th:text="${comment.content}"></textarea>
    </div>
    <div class="btn-container">
        <button type="button" id="comment-updateBtn"
                class="btn btn-outline-primary btn-sm">수정</button>
    </div>

    <script>
        document.querySelector('#comment-updateBtn').addEventListener('click', event => {
            var commentId = document.querySelector('#commentId').value;
            var content = document.querySelector('#content').value;

            let body = {
                content: content
            };

            function success(data) {
                    console.log(data.id+"번째 댓글");
                    console.log(data.message);
                    alert('수정 완료되었습니다.');
                    window.history.back();
                    }

            function fail() {
                alert('수정 실패했습니다.');
                window.history.back();
                }

            httpRequest('PUT', `/api/comments/${commentId}`, body, success, fail);
            
        })
    </script>
</div>
</body>
</html>